
<html>
    <head>
        <title>Gifun</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap.min.css') }}">

        <!-- jQuery library -->
        <script src="{{ url_for('static', filename = 'jquery.min.js') }}"></script>

        <!-- Latest compiled JavaScript -->
        <script src="{{ url_for('static', filename = 'bootstrap.min.js') }}"></script>
    </head>
    <body style="background-image:url('/static/Hd-Wallpapers-14.jpg') ">
        <b><h1 align="center" style="color: white">Welcome To Gifun!</h1></b>
        <h2 align="center" style="color: white">Upload Pic, Take Related GIF!</h2>
        <div align="center"><a href="/upload" class="btn btn-info" role="button">Let's GO!</a></div>
        <h4>Powered By:</h4>
        <a href="https://imagga.com"><img src="/static/imagga.png" width="100"/></a>
        <a href="https://giphy.com"><img src="/static/download.png" width="100"/></a>
        <p>Developed By : Milad Hazrati</p>

    </body>
</html>